# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.runtimeconfig.json

firebase-debug.log
firestore-debug.log
yarn-error.log
ui-debug.log
.env
export.json
../survey_access.csv
../survey_respondents.csv
../survey_results.csv
src/config/firebase.ts